.title {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  margin-top: 20px;
}

hr {
  margin: 0 auto;
}

.main {
  display: grid;
  gap: 30px;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 1180px) {
  .main {
    grid-template-columns: 45% 45%;
  }
}

@media (max-width: 750px) {
  .main {
    grid-template-columns: 80%;
  }
}
