.card {
  width: 350px;
}

.btnCard {
  background-color: rgb(18, 18, 18);
  color: #fff;
  border: solid #fff;
  border-radius: 25px;
  padding: 10px 30px;
  margin: 5px 0;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.btnCard:hover {
  cursor: pointer;
  color: orange;
}

.cardTitle {
  color: #27272a;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}

.feature {
  cursor: pointer;
}

.mainImage {
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.mainImage:hover {
  opacity: 0.5;
}
