.footer {
    height: 200px;
    background-color: #313131;
}

.social_list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.social_list {
    margin: 0 1em;
    padding: 10px;    
}

.social_list {
    font-size: 1.5em;
    cursor: pointer;
    color: #0093E9;
}

.social_list li {
    padding: 10px;
}